<a href="https://colab.research.google.com/github/Jcasttrop/Jcasttrop/blob/main/Tablas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Listas = vectores; Tablas = matrices

Crear e imprimir una tabla.

In [ ]:
tabla=[[16,3,2,13,1],[5,10,11,8,2],[9,6,7,12,3],[4,15,14,1,4]]
print(tabla)

[[16, 3, 2, 13, 1], [5, 10, 11, 8, 2], [9, 6, 7, 12, 3], [4, 15, 14, 1, 4]]

Hallar dimensiones de la tabla.

In [ ]:
filas=len(tabla)
columnas=len(tabla[0])
print("El número de filas es %d y de columnas es %d." % (filas,columnas))

El número de filas es 4 y de columnas es 5.

Acceder a un elemento específico de una tabla. Por ejemplo, la posición 1,2.

In [ ]:
pos1=1; pos2=2;
print("El elemento en las posiciones (%d,%d) es %d." % (pos1,pos2,tabla[pos1][pos2]))

El elemento en las posiciones (1,2) es 11

Imprimir matriz elemento a elemento.

In [ ]:
for row in range(filas):
  for col in range(columnas):
    print(tabla[row][col],end=" ")
  print(end="\n")

16 3 2 13 1
5 10 11 8 2
9 6 7 12 3
4 15 14 1 4

Sumar todos los valores de una tabla usando ciclos for.

In [ ]:
tabla=[[10,20],[30,40],[50,60]];
suma=0; filas=len(tabla); columnas=len(tabla[0]);
for row in range(filas): #[0 1 2]
  for col in range(columnas): #[0 1]
    suma+=tabla[row][col]; #suma=suma+tabla[row][col]
    print("suma=suma+tabla[%d][%d]: %d" % (row,col,suma))
print("La suma total es: ",suma)

suma=suma+tabla[0][0]: 10
suma=suma+tabla[0][1]: 30
suma=suma+tabla[1][0]: 60
suma=suma+tabla[1][1]: 100
suma=suma+tabla[2][0]: 150
suma=suma+tabla[2][1]: 210
La suma total es:  210

In [ ]:
MEDALS = 3; COUNTRIES = 8;
# Create a list of country names.
countries = ["Canada","Italy","Germany","Japan","Kazakhstan", "Russia",
             "South Korea","United States"];
# Create a table of medal counts.
counts = [[ 0, 3, 0 ],[ 0, 0, 1 ],[ 0, 0, 1 ],[ 1, 0, 0 ],[ 0, 0, 1 ],
          [ 3, 1, 1 ],[ 0, 1, 0 ],[ 1, 0, 1 ]];
#Print the table header.
print("%15s%8s%8s%8s%8s" %("Country","Gold","Silver","Bronze","Total"))
print("-"*(55))
# Print countries, counts, and row totals.
for i in range(COUNTRIES): #[0 1 2 3 4 5 6 7] i=7
    print("%15s" % countries[i],end="")
# Print each row element and update the row total.
    total = 0
    for j in range(MEDALS): #[0 1 2] j=2
        print("%8d" % counts[i][j],end="")
        total = total + counts[i][j] #total=2
# Display the row total and print a new line.
    print("%8d" % total) #Se imprime total y hay salto de línea

        Country    Gold  Silver  Bronze   Total
-------------------------------------------------------
         Canada       0       3       0       3
          Italy       0       0       1       1
        Germany       0       0       1       1
          Japan       1       0       0       1
     Kazakhstan       0       0       1       1
         Russia       3       1       1       5
    South Korea       0       1       0       1
  United States       1       0       1       2

Crear una matriz de dimensiones 2x2 usando ciclos anidados. tabla=[[1,1,1],[1,1,1]].

In [ ]:
tabla=[]; fila=[]; filas=2; columnas=3;
        #fila=[1] ->   fila=[1,1]   ->  fila=[1,1,1]
for i in range(filas): #[0 1]
  for j in range(columnas): #[0 1 2]
    fila=fila+[1]  #fila=[1] -> fila=[1,1] -> fila=[1,1,1]
  tabla=tabla+[fila] #tabla=[[1,1,1],[1,1,1]]
  fila=[]
  print(tabla)

[[1, 1, 1]]
[[1, 1, 1], [1, 1, 1]]

Imprimir elemento a elemento la tabla anterior

In [ ]:
print("Tabla: ");
for i in range(filas):
    for j in range(columnas):
      print(tabla[i][j],end=" ");
    print(end="\n"); #Imprime un enter

Tabla:
1 1 1
1 1 1

Utilizando ciclos anidados, construir una tabla, partiendo de una tabla vacía. Si filas=2 y columnas=3, entonces imprimir tabla=[[1,2,3],[1,2,3]].

In [ ]:
tabla=[]; fila=[]; 
filas=int(input("Ingrese la cantidad de filas: ")); #2
columnas=int(input("Ingrese la cantidad de columnas: ")); #3
for i in range(filas):
  for j in range(columnas):
    fila=fila+[j+1]
  tabla=tabla+[fila];
  fila=[]
print(tabla)

Ingrese la cantidad de filas: 2
Ingrese la cantidad de columnas: 3
[[1, 2, 3], [1, 2, 3]]

Construir un algoritmo dado que, usando ciclos anidados, cree la siguiente tabla:[[1,2,3,4],[2,3,4,5],[3,4,5,6]].

In [ ]:
tabla=[]; fila=[]; 
filas=int(input("Ingrese la cantidad de filas: ")); #2
columnas=int(input("Ingrese la cantidad de columnas: ")); #3
for i in range(filas):
  for j in range(columnas):
    fila=fila+[i+j+1]
  tabla=tabla+[fila];
  fila=[]
print(tabla)

Ingrese la cantidad de filas: 3
Ingrese la cantidad de columnas: 4
[[1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]

Construir un algoritmo dado que, usando ciclos anidados, cree la siguiente tabla: [[2,5,8,11],[5,8,11,14],[8,11,14,17]].

In [ ]:
tabla=[]; fila=[]; 
filas=int(input("Ingrese la cantidad de filas: ")); #2
columnas=int(input("Ingrese la cantidad de columnas: ")); #3
for i in range(filas):
  for j in range(columnas):
    fila=fila+[3*i+3*j+2]
  tabla=tabla+[fila];
  fila=[]
print(tabla)

Ingrese la cantidad de filas: 3
Ingrese la cantidad de columnas: 4
[[2, 5, 8, 11], [5, 8, 11, 14], [8, 11, 14, 17]]

In [ ]:
tabla=[]; fila=[]; 
filas=int(input("Ingrese la cantidad de filas: ")); #2
columnas=int(input("Ingrese la cantidad de columnas: ")); #3
for i in range(filas):
  for j in range(columnas):
    fila=fila+[(i+2)*(j+1)]
  tabla=tabla+[fila];
  fila=[]
print(tabla)

Ingrese la cantidad de filas: 3
Ingrese la cantidad de columnas: 4
[[-5, -4, -3, -2], [-3, -2, -1, 0], [-1, 0, 1, 2]]

1. Considerar una tabla m × n para un tablero de juego. Usando dos ciclos anidados, inicializar la tabla de tal manera que los ceros y unos se alternen, como en un tablero de ajedrez:
Pista: Verificar si i + j es par.
0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0
. . .
1 0 1 0 1 0 1 0

In [ ]:
# 0 1 0 1 0 1 0 1
# 1 0 1 0 1 0 1 0

tabla=[]; fila=[];
filas=int(input("Filas: "));
columnas=int(input("Columnas: "));
for i in range(filas):
  for j in range(columnas):
    if i%2==0:
      if j%2==0:
        fila=fila+[0]
      else
        fila=fila+[1]